/**
 * TODO : add documentation
 */
.body {
  text-rendering: optimizeLegibility;
  font-family: sans-serif;
  font-size: $inuit-base-font-size;
  font-style: normal;
  font-synthesis: none;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

/**
 * TODO : add documentation
 */
.image { width: 100%; }

blockquote {
  // font-style: italic;
  margin-left: $content-padding--phone * 2;
  @include media-query('tablet') {
    margin-left: $content-padding--tablet;
  }
  @include media-query('notebook') {
    margin-left: $content-padding--notebook / 2;
  }
  @include media-query('desk') {
    margin-left: $content-padding--desk / 4;
  }
  @include media-query('huge') {
    margin-left: $content-padding--desk / 4;
  }
  &:before {
    content: '„';
    font-weight: bold;
    margin-left: -10px;
    margin-right: 2px;
  }
  &:after {
    content: '“';
    font-weight: bold;
    margin-left: 2px;
    margin-right: -8px;
  }
}

sub,
sup {
  &:before{
    content: "";
    margin-left: 2px;
  }
  &:after {
    content: "";
    margin-right: 2px;
  }
}

a {
  color: $link-color--default;
}