/**
 * TODO : add documentation
 */
@mixin class($name) {
  .#{$name},
  %#{$name} { @content }
}

/**
 * hidden-on-phone
 * what it does: hides stuff from phones
 * how to use it: either as @extend in Sass or in HTML to 
 */
@include class('hidden-on-phone') {
  @include media-query('smaller-than-tablet') { display: none !important; }
}

/**
 * nobr
 * 
 * what it does: prevents the browser to add a break / new line if there is not 
 * enough space to dislay things like long words
 * 
 * how to use it: either as @extend in Sass or in HTML to 
 */
@include class('nobr') { white-space: nowrap; }

/**
 * TODO : add documentation
 */
@include class('m--default') { margin: 0 0 round($inuit-base-line-height / 2); }

/**
 * TODO : add documentation
 */
@include class('picture') { @extend %m--default; }

/**
 * TODO : add documentation
 */
@include class('form') { @extend %m--default; }

/**
 * TODO : add documentation
 */
@include class('paragraph') { @extend %m--default; }

/**
 * TODO : add documentation
 */
@mixin pushOneQuarter() {
  position: relative;
  transform: translateX(25%);
}

/**
 * TODO : add documentation
 */
@mixin responsive-content-padding() {
  padding: 0 $content-padding--phone;
  @include media-query('tablet') { padding: 0 $content-padding--tablet; }
  @include media-query('notebook') { padding: 0 $content-padding--notebook; }
  @include media-query('desk') { padding: 0 $content-padding--desk; }
  @include media-query('huge') { padding: 0 $content-padding--huge; }
}

/**
 * TODO : add documentation
 */
@include class('heading') { margin: 0; }
@include class('heading--alpha') { 
  @extend %heading;
  margin: ($inuit-base-line-height / 2) 0;
  @include media-query('tablet-and-up') {
    margin: $inuit-base-line-height 0;
  }
}
@include class('heading--gamma') {
  @extend %heading;
  margin: ($inuit-base-line-height / 2) 0;
}

/**
 * TODO : add documentation
 */
.fa-twitter:before { color: $color-twitter; }

/**
 * TODO : add documentation
 */
.fa-facebook:before { color: $color-facebook; }

/**
 * TODO : add documentation
 */
%ul--reset {
  margin: 0;
  padding-left: 15px;
}

/**
 * TODO : add documentation
 */
%text--huge { font-size: ($inuit-base-font-size / 16px) * $factor-text--huge; }

/**
 * TODO : add documentation
 */
%text--large { font-size: ($inuit-base-font-size / 16px) * $factor-text--large; }

/**
 * TODO : add documentation
 */
%text--small { font-size: ($inuit-base-font-size / 16px) * $factor-text--small; }

/**
 * TODO : add documentation
 */
%text--tiny { font-size: ($inuit-base-font-size / 16px) * $factor-text--tiny; }

/**
 * TODO : add documentation
 */
%text--bold { font-weight: bold; }

/**
 * TODO : add documentation
 */
%text--very-bright { color: $color--brightest; }

/**
 * TODO : add documentation
 */
%border--big { border-width: $border-width--big; }

/**
 * TODO : add documentation
 */
%link--default {
  border-radius: $link-border-radius--default;
  padding: $link-padding--default;
  text-decoration: none;
  transition: all $transition-time--default ease;
}

/**
 * TODO : add documentation
 */
%link-in-linklist {
  transition: all $transition-time--default ease;
  display: block;
  border-radius: $link-border-radius--default;
  text-decoration: none;
  padding: $link-padding--small $link-padding--small $link-padding--small 15px;
  margin: 0 0 5px;
  &:before {
    content: '\f105';
    display: inline-block;
    font-family: 'FontAwesome';
    margin-left: -10px;
    margin-right: 5px;
  }
}

/**
 * TODO : add documentation
 */
%link-in-linklist--dense { margin: 0; }

/**
 * TODO : add documentation
 */
%link-on-bright {
  color: $color--darkest;
  background-color: lighten($color-ipoa-green, 60.3%);
  &:hover,
  &:focus {
    background-color: $color-ipoa-green;
    color: $color--brightest;
  }
  &:active {
    background-color: $color-ipoa-yellow;
    color: $color--darkest;
  }
}

/**
 * TODO : add documentation
 */
%link-on-dark {
  color: $color--brightest;
  &:hover,
  &:focus {
    background-color: $color--brightest;
    color: $color--darkest;
    border: 1px solid $color--darkest;
  }
  &:active {
    background-color: $color-ipoa-yellow;
    color: $color--darkest;
  }
}

%link--with-icon-on-dark {
  g { fill: $color--brightest; }
  &:hover,
  &:active,
  &:focus {
    g { fill: $color--darkest; }
  }
}