/**
 * TODO : add documentation
 */
@mixin class($name) {
  .#{$name},
  %#{$name} { @content }
}

/**
 * hidden-on-phone
 * what it does: hides stuff from phones
 * how to use it: either as @extend in Sass or in HTML to
 */
@include class('hidden-on-phone') {
  @include media-query('smaller-than-tablet') { display: none !important; }
}

/**
 * nobr
 *
 * what it does: prevents the browser to add a break / new line if there is not
 * enough space to dislay things like long words
 *
 * how to use it: either as @extend in Sass or in HTML to
 */
@include class('nobr') { white-space: nowrap; }

/**
 * TODO : add documentation
 */
@include class('m--default') { margin: 0 0 round($inuit-base-line-height / 2); }

/**
 * TODO : add documentation
 */
@include class('picture') { @extend %m--default; }

/**
 * TODO : add documentation
 */
@include class('caption') {
  @extend %m--default;
  @extend %text--small;
}

/**
 * TODO : add documentation
 */
@include class('form') { @extend %m--default; }

/**
 * TODO : add documentation
 */
@include class('paragraph') { @extend %m--default; }

/**
 * TODO : add documentation
 */
@mixin pushOneQuarter() {
  position: relative;
  transform: translateX(25%);
}

/**
 * TODO : add documentation
 */
@mixin responsive-content-padding() {
  padding-left: $content-padding--phone;
  padding-right: $content-padding--phone;
  @include media-query('tablet') {
    padding-left: $content-padding--tablet;
    padding-right: $content-padding--tablet;
  }
  @include media-query('notebook') {
    padding-left: $content-padding--notebook;
    padding-right: $content-padding--notebook;
  }
  @include media-query('desk') {
    padding-left: $content-padding--desk;
    padding-right: $content-padding--desk;
  }
  @include media-query('huge') {
    padding-left: $content-padding--huge;
    padding-right: $content-padding--huge;
  }
}

/**
 * TODO : add documentation
 */
@include class('heading') { margin: 0; }

/**
 * TODO : add documentation
 */
@include class('heading--alpha') {
  @extend %heading;
  margin: ($inuit-base-line-height / 2) 0;
  @include media-query('tablet-and-up') { margin: $inuit-base-line-height 0; }
}

/**
 * TODO : add documentation
 */
@include class('heading--beta') {
  @extend %heading;
  margin: $inuit-base-line-height 0 ($inuit-base-line-height / 2) 0;
  @include media-query('desk-and-up') { margin: 0; }
}

/**
 * TODO : add documentation
 */
@include class('heading--gamma') {
  @extend %heading;
  margin: ($inuit-base-line-height / 2) 0;
}

/**
 * TODO : add documentation
 */
.fa-twitter:before { color: $color-twitter; }

/**
 * TODO : add documentation
 */
.fa-facebook:before { color: $color-facebook; }

/**
 * TODO : add documentation
 */
%ul--reset {
  margin: 0;
  padding-left: 15px;
}

/**
 * TODO : add documentation
 */
%text--huge { font-size: ($inuit-base-font-size / 16px) * $factor-text--huge; }

/**
 * TODO : add documentation
 */
%text--large { font-size: ($inuit-base-font-size / 16px) * $factor-text--large; }

/**
 * TODO : add documentation
 */
%text--small { font-size: ($inuit-base-font-size / 16px) * $factor-text--small; }

/**
 * TODO : add documentation
 */
%text--tiny { font-size: ($inuit-base-font-size / 16px) * $factor-text--tiny; }

/**
 * TODO : add documentation
 */
%text--bold { font-weight: bold; }

/**
 * TODO : add documentation
 */
%text--very-bright { color: $color--brightest; }

/**
 * TODO : add documentation
 */
%border--big { border-width: $border-width--big; }

/**
 * TODO : add documentation
 */
%link--default {
  border-radius: $link-border-radius--default;
  border: 1px solid transparent;
  padding: $link-padding--default;
  padding: 2px 3px 0px 3px;
  text-decoration: none;
  color: $color--darkest;
  transition: all $transition-time--default ease;
}

%link--underline-on-bright { border-bottom: 1px dotted $color-ipoa-green; }

/**
 * TODO : add documentation
 */
%link-in-linklist {
  transition: all $transition-time--default ease;
  // display: block;
  border-radius: $link-border-radius--default;
  text-decoration: none;
  padding: $link-padding--small;
  margin: 0 0 .3em .7em;
  &:before {
    content: '';
    display: inline-block;
    height: 1em;
    width: 1em;
    background-image:url('../img/angle-right.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: -15px;
  }
}

%link--block { display: block; }

/**
 * TODO : add documentation
 */
%link-on-bright {
  color: $color--darkest;
  // background-color: lighten($link-background-color--default, $link-lighten-color-factor);
  &:hover,
  &:focus {
    background-color: $color-ipoa-green;
    color: $color--brightest;
  }
  &:active {
    background-color: $color-ipoa-yellow;
    color: $color--darkest;
  }
}

/**
 * TODO : add documentation
 */
%headlink-on-bright {
  @extend %link-on-bright;
  background-color: #FFF;
}

/**
 * TODO : add documentation
 */
%link-on-dark {
  color: $color--brightest;
  &:hover,
  &:focus {
    background-color: $color--brightest;
    color: $color--darkest;
    border: 1px solid $color--darkest;
  }
  &:active {
    background-color: $color-ipoa-yellow;
    color: $color--darkest;
  }
}

/**
 * TODO : add documentation
 */
%link--with-icon-on-dark {
  .fa-icon { @extend .fa-icon-on-dark; }
  &:hover,
  &:active,
  &:focus {
    .fa-icon { @extend .fa-icon-on-bright; }
  }
}

/**
 * TODO : add documentation
 */
%link--with-icon-on-bright {
  .fa-icon { @extend .fa-icon-on-bright; }
  &:hover,
  &:active,
  &:focus {
    .fa-icon { @extend .fa-icon-on-dark; }
  }
}

.no-js .on-demand__link { display: none; }