/**
 * .footer-hide
 */
.footer-hide {
	position: relative;
	z-index: 0;
}

/**
 * .footer-hide__helper
 */
.footer-hide__helper {
	position: relative;
	z-index: 1;
	background-color: $color-text-background--default;
}

/**
 * .footer-hide__helper--shifted
 */
.footer-hide__helper--shifted {
	transform: translateX(30%);
	transition: .25s ease-in-out;
	position: fixed;

	@include media-query('phone') {
		display: none;
	}
}

/**
 * .footer-hide__content
 */
.footer-hide__content {
	@include media-query('notebook-and-up') {
		position: fixed;
		z-index: -1;
		bottom: 0;
	}
}

/**
 * .no-js .footer-hide__content
 * no-js fallback
 * don't hide the footer if there is no js available
 */
.no-js .footer-hide__content {
	@include media-query('notebook-and-up') {
		position: relative;
		z-index: 0;
	}
}
