/**
 * TODO : add documentation
 */
.head {
  @extend %ic-layout;
  @extend .ic-layout--flush;
  @include responsive-content-padding();
  padding-top: 40px;
  @include media-query('tablet-and-up') { // [2]
    background: url('../img/bg-h-1.jpg') no-repeat center center fixed;
    background-size: cover;
  }
}

/**
 * TODO : add documentation
 *
 * [1] simulating "@extend .ic-mt+"
 */
.head__links {
  @extend %ic-layout__item;
  @extend .ic-smaller-than-tablet-two-thirds;
  @extend .ic-tablet-and-up-three-quarters;
  @extend .ic-mt--;
  @extend .ic-layout--right;
  @include media-query('tablet-and-up') { text-align: left; }
}

/**
 * TODO : add documentation
 */
.head__link {
  @extend %link--default;
  @extend %headlink-on-bright;
  @extend %nobr;
  @extend %link--with-icon-on-bright;
}

  /**
   * TODO : add documentation
   */
  .head__link--active {
    background-color: $color--darkest;
    color: $color--brightest;
  }

/**
 * TODO : add documentation
 */
.head__list {
  @extend %ic-list-bare;
  @extend %ic-list-inline;
  display: inline;
}

/**
 * TODO : add documentation
 *
 * [1] simulating "@extend .ic-mt+"
 */
.head__menubutton {
  @extend %ic-layout__item;
  @extend .ic-smaller-than-tablet-one-third;
  @extend .ic-tablet-and-up-one-quarter;
  @extend .ic-mt--;
  @extend .fa-icon-on-bright;
  @include media-query('tablet-and-up') {
    text-align: right;
    padding-right: double($inuit-base-spacing-unit) !important; // [2]
  }
  a {
    svg { fill: $color--darkest; }
    &:hover {
      svg { fill: $color--brightest; }
    }
  }

}

/**
 * TODO : add documentation
 *
 * the block that contains the various links to choose a different language
 * hidden by default
 * visible if ___ clicked
 */
.head__language-links {
  @extend %ic-layout__item;
  @extend %text--very-dark;
  @extend .ic-pt;
  padding-left: 0;
  text-align: right;
  display: none;
  @include media-query('tablet-and-up') { text-align: left; }
  g { fill: $color--brightest; }
}

  /**
   * TODO : add documentation
   *
   * always show language selection links if user has no JS
   */
  .no-js .head__language-links { display: block; }

/**
 * TODO : add documentation
 *
 * align language icon with those above
 * FIXME : dirty numbers
 */
.language-icon--push-right-in-header { padding-left: 8px; }

/**
 * TODO : add documentation
 */
.no-js .head__language-indicator { display: none; }

/**
 * TODO : add documentation
 *
 * [1] simulating "@extend .ic-pr"
 */
.head__logo {
  @extend %ic-layout__item;
  @extend .ic-tablet-and-up-one-quarter;
  @extend .ic-mt;
  text-align: center;
  .image { width: 150px; }
  @include media-query('tablet-and-up') {
    .image {
      width: 100%;
      max-width: 250px;
    }
    padding-right: double($inuit-base-spacing-unit) !important; // [1]
  }
}

/**
 * TODO : add documentation
 *
 * only visible in tablet-and-up
 * [1,2] show claim only if enough screen estate is available
 */
.head__claim {
  display: none; // [1]
  @include media-query('tablet-and-up') { // [2]
    display: inline-block;
    @extend %ic-layout__item;
    @extend .ic-tablet-and-up-three-quarters;
    @extend .ic-mt\+;
    @include media-query('notebook') {
      margin-top: ($inuit-base-spacing-unit * 4) !important;
      transform: translateY(-10%);
    }
    @extend %text--very-dark;
    @extend %text--huge;
    letter-spacing: $letter-spacing--large;
  }
}

/**
 * TODO : add documentation
 *
 * [1] align page title with content
 */
.head__pagetitle {
  @extend %ic-layout__item;
  @extend %text--large;
  @extend %text--very-dark;
  text-align: center;
  letter-spacing: $letter-spacing--larger;
  @include media-query('tablet-and-up') { text-align: left; }
  @include media-query('desk-and-up') { @include pushOneQuarter(); } // [1]
}

/**
 * TODO : add documentation
 */
.head-nav {
  @extend %ic-layout;
  @extend .ic-layout--flush;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  height: 50px;
  @include responsive-content-padding();
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transition-timing-function: cubic-bezier( .215, .610, .355, 1 );
  transition-timing-function: cubic-bezier( .215, .610, .355, 1 );
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
}

  .head-nav--hidden {
    -webkit-transform: translateY( -100% );
    -ms-transform: translateY( -100% );
    transform: translateY( -100% );
    background-color: white;
    border-bottom: 1px solid lighten(#333, 50%);
  }

  .head-nav--narrow {
    background-color: white;
    border-bottom: 1px solid lighten(#333, 50%);
  }