.fa-icon {
  display: inline-block;
  transform: scale(0.8);
}

.fa-icon-on-bright {
  color: $color--darkest;
  fill: currentColor; 
}

.fa-icon-on-dark {
  color: $color--brightest;
  fill: currentColor; 
}

.fa-icon-search {
  width: 26px;
  height: 28px;
}

.fa-icon--xs { transform: scale(.5) translateY(70%); }
.fa-icon--s { transform: scale(.7) translateY(40%); }
.fa-icon--default { transform: scale(.9) translateY(10%); }
.fa-icon--l { transform: scale(1.1) translateY(10%); }

.fa-icon-home {
  width: 26px;
  height: 28px;
}

.fa-icon-bars {
  width: 28px;
  height: 28px;
}

.fa-icon-twitter {
  width: 26px;
  height: 28px;
  color: $color-twitter;
  fill: currentColor;
}

.fa-icon-facebook {
  width: 16px;
  height: 28px;
  color: $color-facebook;
  fill: currentColor;
}

.fa-icon-globe {
  width: 28px;
  height: 28px;
}

.fa-icon-gavel {
  width: 28px;
  height: 28px;
}

.fa-icon-comments-o {
  width: 28px;
  height: 28px;
}

.fa-icon-angle-right {
  width: 10px;
  height: 28px;
}

.fa-icon-smile-o {
  width: 28px;
  height: 28px;
}

.fa-icon-rss-square {
  width: 28px;
  height: 28px;
}

.fa-icon-toggle-on {
  width: 32px;
  height: 28px;
}

.fa-icon-toggle-off {
  width: 32px;
  height: 28px;
}

.fa-icon-sitemap {
  width: 28px;
  height: 28px;
}

.fa-icon-info {
  width: 10px;
  height: 28px;
}
