/**
 * .main
 */
.main {
  @extend %ic-layout;
  @extend .ic-pt;
  @include responsive-content-padding();
}

/**
 * .main__picture
 */
.main__picture {
  @extend %ic-layout__item;
  @extend .ic-mt;
  @extend %picture;
}

/**
 * .main__caption
 */
.main__caption {
  @extend %caption;
  @include media-query('desk-and-up') { text-align: right; }
}

/**
 * .main__link
 * A link in the main content column
 */
.main__link {
  @extend %link--default;
  @extend %link--on-bright;
  @extend %link--underline;
  @extend %link--underline-on-bright;
}

  /**
   * .main__link--in-list
   * A link in the main content column within a list than contains links only
   * 1. move the chevron a tad lower
   */
  .main__link--in-list {
    @extend %link--default;
    @extend %link--on-bright;
    @extend %link--underline;
    @extend %link--underline-on-bright;
    @extend %link--in-linklist;
    &:before { margin-bottom: $shift-chevron-before-content; } // 1.
  }

/**
 * .main__heading
 */
.main__heading {
  @extend %ic-layout__item;
  @extend .ic-desk-and-up-three-twelfths;
  @extend %heading;
  @extend %heading--beta;
  @include media-query('desk-and-up') { text-align: right; }
  line-height: round($inuit-base-line-height / .65);
}

/**
 * .main__linklist
 */
.main__linklist {
  @extend %ic-list-bare;
  @extend %m--default;
  padding-left: $inuit-base-line-height;
  @include media-query('phone') { padding-left: $inuit-base-line-height / 2; }
}

  /**
   * .main__linklist--reset
   */
  .main__linklist--reset { padding-left: 0; }

/**
 * .main__textblock
 */
.main__textblock {
  @extend %ic-layout__item;
  @extend .ic-desk-and-up-nine-twelfths;
  @extend %paragraph;
  p { @extend %m--default; }
  ul { @extent %ul--reset; }
}

/**
 * .main__table
 */
.main__table {
  @extend %ic-layout__item;
  @extend .ic-desk-and-up-nine-twelfths;
  @extend %paragraph;
  @extend %m--default;
  table { width: 100%; }
  caption {
    text-align: left;
    @extend %m--default;
  }
  thead { border-bottom: 1px solid $color--darkest; }
  td { padding: $table-cell-padding; }
  .uneven { background-color: $table-uneven-background-color }
}

/**
 * .main__gallery
 */
.main__gallery {
  @extend %paragraph;
  @extend %m--default;
  .picture {
    @extend %ic-layout__item;
    @extend .ic-tablet-one-half;
    @extend .ic-notebook-one-half;
    @extend .ic-desk-one-half;
    @extend .ic-huge-one-third;
    @extend %picture;
  }
}