/**
 * TODO : add documentation
 */
.main {
  @extend %ic-layout;
  @extend .ic-pt;
  @include responsive-content-padding();
}

/**
 * TODO : add documentation
 */
.main__picture {
  @extend %ic-layout__item;
  @extend .ic-mt;
  @extend %picture;
}


/**
 * TODO : add documentation
 */
.main__caption {
  @extend %caption;
  @include media-query('desk-and-up') { text-align: right; }
}


/**
 * TODO : add documentation
 */
.main__link {
  @extend %link--default;
  @extend %link-on-bright;
}

/**
 * TODO : add documentation
 */
.main__heading {
  @extend %ic-layout__item;
  @extend .ic-desk-and-up-three-twelfths;
  @extend %heading;
  @include media-query('desk-and-up') { text-align: right; }
  line-height: round($inuit-base-line-height / .65);
}

/**
 * TODO : add documentation
 */
.main__linklist {
  @extend %ic-list-bare;
  @extend %m--default;
  &:hover {
    a { @extend %link-on-bright; }
  }
  padding-left: 22px;
}

/**
 * TODO : add documentation
 */
.main__link--in-list {
  @extend %link-in-linklist;
}

/**
 * TODO : add documentation
 */
.main__textblock {
  @extend %ic-layout__item;
  @extend .ic-desk-and-up-nine-twelfths;
  @extend %paragraph;
  p { @extend %m--default; }
  ul { @extent %ul--reset; }
}

/**
 * TODO : add documentation
 */
.main__table {
  @extend %ic-layout__item;
  @extend .ic-desk-and-up-nine-twelfths;
  @extend %paragraph;
  @extend %m--default;
  table { width: 100%; }
  caption {
    text-align: left;
    @extend %m--default;
  }
  thead { border-bottom: 1px solid $color--darkest; }
  td { padding: $table-cell-padding; }
  .uneven { background-color: $table-uneven-background-color }
}

.main__gallery {
  @extend %paragraph;
  @extend %m--default;
  .picture {
    @extend %ic-layout__item;
    @extend .ic-tablet-one-half;
    @extend .ic-notebook-one-half;
    @extend .ic-desk-one-half;
    @extend .ic-huge-one-third;
    @extend %picture;
  }
}