// scss-lint:disable NameFormat, SelectorDepth, VendorPrefixes
/**
 * .main
 */
.main {
	@extend %ic-layout;
	@extend .ic-pt;

	@include responsive-content-padding();
}

/**
 *
 */
.main picture {
	@extend %ic-layout__item;
	@extend .ic-mt;
	@extend %picture;
}

/**
 *
 */
.main picture > div {
	@extend %caption;

	@include media-query('desk-and-up') { text-align: right; }
}

/**
 * A link in the main content column
 */
.main a {
	@extend %link--default;
	@extend %link--on-bright;
	@extend %link--underline;
	@extend %link--underline-on-bright;
}

/**
 *
 */
.main ul a {
	@extend %link--default;
	@extend %link--on-bright;
	@extend %link--underline;
	@extend %link--underline-on-bright;
}

/**
 *
 */
.main h2 {
	@extend %ic-layout__item;
	@extend .ic-desk-and-up-three-twelfths;
	@extend %heading;
	@extend %heading--beta;
	line-height: round($inuit-base-line-height / .65);

	@include media-query('desk-and-up') { text-align: right; }
}

.oadays h3 {
	@extend %ic-layout__item;
	@extend .ic-desk-and-up-three-twelfths;
	@extend %heading;
	@extend %heading--beta;
	line-height: round($inuit-base-line-height / .65);

	@include media-query('desk-and-up') { text-align: right; }
}

/**
 *
 */
.main > ul { @extend %m--default; }

/**
 *
 */
.main ul {
	@extend %ic-list-bare;
	@extend %m--default;
	padding-left: $inuit-base-line-height;

	@include media-query('phone') { padding-left: $inuit-base-line-height / 2; }
}

.main ul ul {
	margin-bottom: 0 !important;
}

.main ul li {
	&:before {
		content: '';
		display: inline-block;
		height: 1em;
		width: 1em;
		width: 6px;
		background-image: url('../img/angle-right.svg');
		background-size: contain;
		background-repeat: no-repeat;
		margin-left: -15px;
		margin-right: 4px;
		margin-bottom: $shift-chevron-before-content;
	}
}

/**
 * .main__linklist--reset
 */
.main h2 > div > ul {
	padding-left: 0;
}

/**
 * .main__textblock
 */
.main h2 + div,
.oadays h3 + div {
	@extend %ic-layout__item;
	@extend .ic-desk-and-up-nine-twelfths;
	@extend %paragraph;

	p { @extend %m--default; }
}

.oadays h3 + div {

	img {
		-webkit-clip-path: circle(25px at center);
		clip-path: circle(25px at center);
		border-radius: 50%;
		width: 50px;
		margin-bottom: -10px;
	}
}

.twitter {

	img {
		-webkit-clip-path: circle(25px at center);
		clip-path: circle(25px at center);
		border-radius: 50%;
		width: 20px !important;
		margin-bottom: -5px;
	}
}

.oadays h4 {
	margin-bottom: 5px;
}

/**
 * .main__table
 */
.main table {
	@extend %m--default;

	width: 100%;

	caption {
		@extend %m--default;
		text-align: left;
	}

	thead { border-bottom: 1px solid $color--darkest; }

	td { padding: $table-cell-padding; }

	.uneven { background-color: $table-uneven-background-color; }
}

/**
 * .main__gallery
 */
.main__gallery {
	@extend %paragraph;
	@extend %m--default;

	picture {
		@extend %ic-layout__item;
		@extend .ic-tablet-one-half;
		@extend .ic-notebook-one-half;
		@extend .ic-desk-one-half;
		@extend .ic-huge-one-third;
		@extend %picture;
	}
}

.main img {
	width: 100%;
}
