/**
 * TODO : add documentation
 */
.menu {
  @extend %ic-layout;
  @extend .ic-pt;
  @extend .ic-pb;
  display: none;
  @include responsive-content-padding();
}

  /**
   * JS Fallback
   * always show the menu if user has no JS.
   */
  .no-js .menu { display: block; }

/**
  * TODO : add documentation
 */
.menu__button {
  padding: 5px;
  border-radius: $border-radius--large;
  background: transparent;
  border: 1px solid transparent;
  color: $color--darkest;
  text-decoration: none;
  &:hover {
    background-color: $color-ipoa-green;
    color: $color--brightest;
  }
  &:active {
    background-color: $color-ipoa-yellow;
    color: $color-ipoa-green;
    border-color: $color-ipoa-green;
  }
}

/**
 * formats every menu section to appear and behave like a column e. g. have many
 * menu sections side by side in various breakpoint viewports
 */
.menu__column {
  @extend %ic-layout__item;
  @extend .ic-pb-;
  @include media-query('smaller-than-tablet') { padding-left: 5px; }
}

/**
 * formats menu__list to be a list without list-style-type
 */
.menu__list { @extend %ic-list-bare; }

.menu__list--indented {
  @extend .menu__list;
  margin-left: $inuit-base-spacing-unit;
}

/**
 * define how links in the menu appear
 */
.menu__link {
  @extend %link-in-linklist;
  @extend %link-in-linklist--dense;
  color: $color--darkest;
  &:hover {
    color: $color--brightest;
    background: $color-ipoa-green;
  }
  &:active,
  &:focus {
    color: $color--darkest;
    background: $color-ipoa-yellow;
  }
}

  /**
   * modifier that defines how a menu link looks like if the page the link would
   * lead to is the current page
   */
  .menu__link--active {
    color: $color--darkest;
    background: $color-ipoa-yellow;
  }

  .menu__link--has-children {
    &:before { background-image:url('../img/angle-double-right.svg'); }
  }

/**
 *
 */
.alt-menu {
  @extend .ic-layout__item;
  z-index: 99;
  @extend .ic-pt;
  @extend .ic-pb;
  @include responsive-content-padding();
}

/**
 * a modifier that moves the alt-menu off canvas
 */
.alt-menu--off-canvas {
  position: fixed;
  top: 0;
  height: 100%;
  width: 30%;
  padding: 0;
  transform: translateX(-100%);
}
