/**
 *
 */
.content .navigation {
  @extend %ic-layout;
  @extend .ic-mt;
  @extend .ic-mb;
  display: none;
  @include responsive-content-padding();
}

  /**
   *
   */
  .no-js .navigation { display: block; }

/**
 *
 */
.nav__button {
  border-radius: $border-radius--large;
  background: transparent;
  border: $border-width--default solid $color--brightest;
  color: $color--brightest;
}

/**
 *
 */  
.content .nav__button { @extend .ic-p-; }

  /**
   *
   */
  .navigation__column {
    @extend %ic-layout__item;
    @extend .ic-tablet-one-half;
    @extend .ic-notebook-and-up-one-quarter;
    @extend .ic-pb-;
  }

    /**
     *
     */
    .navigation__list { @extend %ic-list-bare; }

      /**
       *
       */
      .navigation__link {
        @extend %link-in-linklist;
        @extend %link-in-linklist--dense;
        color: $color--darkest;
        &:hover {
          color: $color--brightest;
          background: $color-ipoa-green;
        }
        &:active,
        &:focus {
          color: $color--darkest;
          background: $color-ipoa-yellow; 
        }
      }

        /**
         *
         */
        .navigation__link--active {
          color: $color--darkest;
          background: $color-ipoa-yellow; 
        }
