.content .navigation {
  @extend %ic-layout;
  @extend .ic-mt;
  @extend .ic-mb;
  display: none;
  @include responsive-content-padding();
}

  .no-js .navigation { display: block; }

  .nav__button {
    border-radius: $border-radius--large;
    background: transparent;
    border: $border-width--default solid $color--brightest;
    color: $color--brightest;
  }

  .content .nav__button { @extend .ic-p-; }

  .nav__col {
    @extend %ic-layout__item;
    @extend .ic-tablet-one-half;
    @extend .ic-notebook-and-up-one-quarter;
    @extend .ic-pb-;
  }

    .nav__col__list { @extend %ic-list-bare; }

      .nav__col__list-link {
        @extend %link-in-linklist;
        @extend %link-in-linklist--dense;
        color: $color--darkest;
        &:hover {
          color: $color--brightest;
          background: $color-ipoa-green;
        }
        &:active,
        &:focus {
          color: $color--darkest;
          background: $color-ipoa-yellow; 
        }
      }

      .nav__col__list-link--active {
        color: $color--darkest;
        background: $color-ipoa-yellow; 
      }
