.search {
  @extend %ic-layout;
  @extend .ic-pt;
  // @extend .ic-pb;
  @include responsive-content-padding();
  @if $search-theme-dark { background-color: $color--darkest; }
}

  .search-heading {
    @extend .ic-layout__item;
    @extend .ic-desk-and-up-one-quarter;
    @extend %heading;
    @include media-query('desk-and-up') { text-align: right; }
    line-height: round($inuit-base-line-height / .65);
    @if $search-theme-dark { color: $color--brightest; }
  }

  .search-content {
    @extend .ic-layout__item;
    @extend .ic-desk-and-up-three-quarters;
    @if $search-theme-dark { color: $color--brightest; }
  }

  .search-form {
    @extend %form;
    display: inline;
    width: 100%;
  }

  .search-field {
    @extend %m--default;
    display: inline-block;
    width: 100%;
    @include media-query('tablet') {            width: 48%; }
    @include media-query('tablet-portrait') {   width: 73%; }
    @include media-query('notebook') {          width: 50%; }
    @include media-query('desk') {              width: 65.75%; }
  }

    .search-field__field {
      width: 100%;
      padding: round($inuit-base-spacing-unit / 2);
      border-radius: $link-border-radius--default;
      background: none;
      border: $border-width--default solid $color--darkest;
      @if $search-theme-dark {
        background-color: $color--brightest;
        border-color: $color--brightest;
        color: $color--darkest;
      }
    }

  /**
   * [1] Note : NOTE : simulating "@extend .ic-pl"
   */
  .search-button {
    @extend %m--default;
    display: inline-block;
    width: 100%;
    @include media-query('tablet') {
      width: 50%;
      padding-left: $inuit-base-spacing-unit !important; // [1]
    }
    @include media-query('tablet-portrait') {
      width: 27%;
    }
    @include media-query('notebook') {
      width: 50%;
      padding-left: $inuit-base-spacing-unit !important; // [1]
    }
    @include media-query('desk') {
      width: 34.25%;
      padding-left: $inuit-base-spacing-unit !important; // [1]
    }
  }

    .search-button__button {
      width: 100%;
      padding: round($inuit-base-spacing-unit / 2);
      border-radius: $link-border-radius--default;
      background-color: $color-ipoa-green;
      font-weight: bold;
      color: $color--brightest;
      letter-spacing: $letter-spacing--large;
      border: $border-width--default solid $color-ipoa-green;
      @if $search-theme-dark { border-color: $color--brightest; }
      &:hover {
        background-color: $color-ipoa-yellow;
        color: $color--darkest;
        border: $border-width--default solid $color-ipoa-yellow;
      }
    }
