/**
 * TODO : add documentation
 */
.search {
  @extend %ic-layout;
  @extend .ic-pt;
  @include responsive-content-padding();
  @if $search-theme-dark { background-color: $color--darkest; }
}

/**
 * TODO : add documentation
 */
.search__heading {
  @extend %ic-layout__item;
  @extend .ic-desk-and-up-one-quarter;
  @extend %heading;
  @include media-query('desk-and-up') { text-align: right; }
  line-height: round($inuit-base-line-height / .65);
  @if $search-theme-dark { color: $color--brightest; }
}

/**
 * TODO : add documentation
 */
.search__content {
  @extend %ic-layout__item;
  @extend .ic-desk-and-up-three-quarters;
  @if $search-theme-dark { color: $color--brightest; }
}

/**
 * TODO : add documentation
 */
.search__form {
  @extend %form;
  display: inline;
  width: 100%;
}

/**
 * TODO : add documentation
 */
.search__field {
  @extend %m--default;
  display: inline-block;
  width: 100%;
  @include media-query('tablet') {            width: 48%; }
  @include media-query('tablet-portrait') {   width: 73%; }
  @include media-query('notebook') {          width: 50%; }
  @include media-query('desk') {              width: 65.75%; }
}

/**
 * TODO : add documentation
 */
.search__input {
  width: 100%;
  padding: round($inuit-base-spacing-unit / 2);
  border-radius: $link-border-radius--default;
  background: none;
  border: $border-width--default solid $color--darkest;
  @if $search-theme-dark {
    background-color: $color--brightest;
    border-color: $color--brightest;
    color: $color--darkest;
  }
}

/**
 * TODO : add documentation
 * 
 * [1,3,5] simulating "@extend .ic-pl"
 * [2,4] FIXME : dirty number
 */
.search__submit {
  @extend %m--default;
  display: inline-block;
  width: 100%;
  @include media-query('tablet') {
    width: 50%;
    padding-left: $inuit-base-spacing-unit !important; // [1]
  }
  @include media-query('tablet-portrait') { width: 27%; } // [2]
  @include media-query('notebook') {
    width: 50%;
    padding-left: $inuit-base-spacing-unit !important; // [3]
  }
  @include media-query('desk') {
    width: 34.25%; // [4]
    padding-left: $inuit-base-spacing-unit !important; // [5]
  }
}

/**
 * TODO : add documentation
 */
.search__button {
  width: 100%;
  padding: round($inuit-base-spacing-unit / 2);
  border-radius: $link-border-radius--default;
  background-color: $color-ipoa-green;
  font-weight: bold;
  color: $color--brightest;
  letter-spacing: $letter-spacing--large;
  border: $border-width--default solid $color-ipoa-green;
  @if $search-theme-dark { border-color: $color--brightest; }
  &:hover {
    background-color: $color-ipoa-yellow;
    color: $color--darkest;
    border: $border-width--default solid $color-ipoa-yellow;
  }
}
