.footer__column img {
	width: 100%;
	max-width: 100%;
	height: 75px;
}

.logocarousel {

	img {
		max-width: 100%;
	}

	a {
		margin: 0 !important;
		background-color: transparent !important;

		&:before {
			content: '';
			background-image: none !important;
		}
	}
}
