/**
 * TODO : add documentation
 */
.start {
  background-color: $color--darkest;
  height: 100vh;
  min-height: 100%;

}

/**
 * TODO : add documentation
 */
.start__header {
  @extend %ic-layout;
  background-color: $color--darkest;
}

/**
 * TODO : add documentation
 */
.start__logo {
  @extend %ic-layout__item;
  @extend .ic-tablet-and-up-one-half;
  @extend .ic-layout--center;
  .image { max-width: 250px; }
  margin: 10vh 0 0;
  @include media-query('tablet-and-up') { text-align: right; }
}

/**
 * TODO : add documentation
 */
.start__title {
  @extend %ic-layout__item;
  @extend .ic-tablet-and-up-one-half;
  @extend .ic-layout--center;
  @extend %text--very-bright;
  @extend %text--large;
  display: none;
  @include media-query('tablet-and-up') {
    display: inline-block;
    text-align: left;
    padding: 10vh 0 0 3vh;
  }
}

/**
 * TODO : add documentation
 */
.start__main {
  @extend %ic-layout__item;
  @extend %ic-layout--center;
  background-color: $color--darkest;
  padding: 2vh 0 0;
}

/**
 * TODO : add documentation
 */
.start__navigation { @extend %ic-layout--center; }

/**
 * TODO : add documentation
 */
.start__button {
  @extend %ic-btn;
  @extend %border--big;
  @extend %text--large;
  @extend %text--bold;
  background-color: $color--brightest;
  color: $color--darkest;
  margin: 5px;
  &:hover, 
  &:active,
  &:focus {
    background-color: $color--brightest;
    color: $color--darkest; 
  }
}

/**
 * TODO : add documentation
 */
.start__footer {
  @extend %ic-layout;
  @extend %ic-layout--flush;
}

/**
 * TODO : add documentation
 */
.start__footer-content {
  background-color: $color--darkest;
  width: 100vw;
  padding: 5vh 0 0;
}

/**
 * TODO : add documentation
 */
.start__list {
  @extend %ic-layout--center;
  @extend %ic-list-bare;
  @extend %ic-list-inline;
}

/**
 * TODO : add documentation
 */
.start__link {
  @extend %link--default;
  @extend %link-on-dark;
  @extend %link--with-icon-on-dark;
}
