$color-dummy--dark:             #262626;
$color-dummy--bright:           #cdcdcd;

$color--darkest:                #000;
$color--brightest:              #fff;

$transition-time--default:      250ms;

$link-border-radius--default:   3px;
$link-padding--default:         5px;

$factor-text--small:            .8em; 
$factor-text--tiny:             .65em;
$factor-text--large:            1.20em;

$border-width--big:             2px;
