---
title: Open Acces Tage 2014
layout: default
---

<div class="footer-hide__helper" id="top">

  {% include header.html %}

  <div class="headroom__helper">

    <main role="main" class="main">

      <h2 class="main__heading">2014</h2><!--
      --><div class="main__textblock">
        <ul class="main__linklist main__linklist--reset">
          <li><a href="" class="main__link main__link--in-list">Januar | 6 News</a></li>
          <li><a href="" class="main__link main__link--in-list">Februar | 2 News</a></li>
          <li><a href="" class="main__link main__link--in-list">März | 3 News</a></li>
          <li><a href="" class="main__link main__link--in-list">April | 7 News</a></li>
          <li><a href="" class="main__link main__link--in-list">Mai | 2 News</a></li>
          <li><a href="" class="main__link main__link--in-list">Juni | 2 News</a></li>
          <li><a href="" class="main__link main__link--in-list">Juli | 6 News</a></li>
          <li><a href="" class="main__link main__link--in-list">August | 1 News</a></li>
          <li><a href="" class="main__link main__link--in-list">September | 1 News</a></li>
          <li><a href="" class="main__link main__link--in-list">Oktober | 3 News</a></li>
          <li><a href="" class="main__link main__link--in-list">November | 4 News</a></li>
          <li><a href="" class="main__link main__link--in-list">Dezember | 3 News</a></li>
        </ul>
      </div>

      <h2 class="main__heading">2013</h2><!--
      --><div class="main__textblock">
        <ul class="main__linklist main__linklist--reset">
          <li><a href="" class="main__link main__link--in-list">Januar | 6 News</a></li>
          <li><a href="" class="main__link main__link--in-list">Februar | 2 News</a></li>
          <li><a href="" class="main__link main__link--in-list">März | 3 News</a></li>
          <li><a href="" class="main__link main__link--in-list">April | 7 News</a></li>
          <li><a href="" class="main__link main__link--in-list">Mai | 2 News</a></li>
          <li><a href="" class="main__link main__link--in-list">Juni | 2 News</a></li>
          <li><a href="" class="main__link main__link--in-list">Juli | 6 News</a></li>
          <li><a href="" class="main__link main__link--in-list">August | 1 News</a></li>
          <li><a href="" class="main__link main__link--in-list">September | 1 News</a></li>
          <li><a href="" class="main__link main__link--in-list">Oktober | 3 News</a></li>
          <li><a href="" class="main__link main__link--in-list">November | 4 News</a></li>
          <li><a href="" class="main__link main__link--in-list">Dezember | 3 News</a></li>
        </ul>
      </div>

      <h2 class="main__heading">2012</h2><!--
      --><div class="main__textblock">
        <ul class="main__linklist main__linklist--reset">
          <li><a href="" class="main__link main__link--in-list">Januar | 6 News</a></li>
          <li><a href="" class="main__link main__link--in-list">Februar | 2 News</a></li>
          <li><a href="" class="main__link main__link--in-list">März | 3 News</a></li>
          <li><a href="" class="main__link main__link--in-list">April | 7 News</a></li>
          <li><a href="" class="main__link main__link--in-list">Mai | 2 News</a></li>
          <li><a href="" class="main__link main__link--in-list">Juni | 2 News</a></li>
          <li><a href="" class="main__link main__link--in-list">Juli | 6 News</a>
            <ul class="main__linklist">
              <li><a href="" class="main__link main__link--in-list">Open Access in Horizont 2020 | 20.07.2012</a></li>
              <li><a href="" class="main__link main__link--in-list">Österreichs Top-WissenschafterInnen unterstützen Open Access | 17.07.2012</a></li>
              <li><a href="" class="main__link main__link--in-list">Perspektive Bibliothek: Neue Open-Access-Zeitschrift im Bereich Bibliotheks- und Informationswesen | 17.07.2012</a></li>
              <li><a href="" class="main__link main__link--in-list">Hoher Impact Factor für Open Access-Journale der Max-Planck-Gesellschaft | 16.07.2012</a></li>
            </ul>
          </li>
          <li><a href="" class="main__link main__link--in-list">August | 1 News</a></li>
          <li><a href="" class="main__link main__link--in-list">September | 1 News</a></li>
          <li><a href="" class="main__link main__link--in-list">Oktober | 3 News</a></li>
          <li><a href="" class="main__link main__link--in-list">November | 4 News</a></li>
          <li><a href="" class="main__link main__link--in-list">Dezember | 3 News</a></li>
        </ul>
      </div>

      <h2 class="main__heading">2011</h2><!--
      --><div class="main__textblock">
        <ul class="main__linklist main__linklist--reset">
          <li><a href="" class="main__link main__link--in-list">Januar | 6 News</a></li>
          <li><a href="" class="main__link main__link--in-list">Februar | 2 News</a></li>
          <li><a href="" class="main__link main__link--in-list">März | 3 News</a></li>
          <li><a href="" class="main__link main__link--in-list">April | 7 News</a></li>
          <li><a href="" class="main__link main__link--in-list">Mai | 2 News</a></li>
          <li><a href="" class="main__link main__link--in-list">Juni | 2 News</a></li>
          <li><a href="" class="main__link main__link--in-list">Juli | 6 News</a></li>
          <li><a href="" class="main__link main__link--in-list">August | 1 News</a></li>
          <li><a href="" class="main__link main__link--in-list">September | 1 News</a></li>
          <li><a href="" class="main__link main__link--in-list">Oktober | 3 News</a></li>
          <li><a href="" class="main__link main__link--in-list">November | 4 News</a></li>
          <li><a href="" class="main__link main__link--in-list">Dezember | 3 News</a></li>
        </ul>
      </div>

      <h2 class="main__heading">2010</h2><!--
      --><div class="main__textblock">
        <ul class="main__linklist main__linklist--reset">
          <li><a href="" class="main__link main__link--in-list">Januar | 6 News</a></li>
          <li><a href="" class="main__link main__link--in-list">Februar | 2 News</a></li>
          <li><a href="" class="main__link main__link--in-list">März | 3 News</a></li>
          <li><a href="" class="main__link main__link--in-list">April | 7 News</a></li>
          <li><a href="" class="main__link main__link--in-list">Mai | 2 News</a></li>
          <li><a href="" class="main__link main__link--in-list">Juni | 2 News</a></li>
          <li><a href="" class="main__link main__link--in-list">Juli | 6 News</a></li>
          <li><a href="" class="main__link main__link--in-list">August | 1 News</a></li>
          <li><a href="" class="main__link main__link--in-list">September | 1 News</a></li>
          <li><a href="" class="main__link main__link--in-list">Oktober | 3 News</a></li>
          <li><a href="" class="main__link main__link--in-list">November | 4 News</a></li>
          <li><a href="" class="main__link main__link--in-list">Dezember | 3 News</a></li>
        </ul>
      </div>

      <h2 class="main__heading">2009</h2><!--
      --><div class="main__textblock">
        <ul class="main__linklist main__linklist--reset">
          <li><a href="" class="main__link main__link--in-list">Januar | 6 News</a></li>
          <li><a href="" class="main__link main__link--in-list">Februar | 2 News</a></li>
          <li><a href="" class="main__link main__link--in-list">März | 3 News</a></li>
          <li><a href="" class="main__link main__link--in-list">April | 7 News</a></li>
          <li><a href="" class="main__link main__link--in-list">Mai | 2 News</a></li>
          <li><a href="" class="main__link main__link--in-list">Juni | 2 News</a></li>
          <li><a href="" class="main__link main__link--in-list">Juli | 6 News</a></li>
          <li><a href="" class="main__link main__link--in-list">August | 1 News</a></li>
          <li><a href="" class="main__link main__link--in-list">September | 1 News</a></li>
          <li><a href="" class="main__link main__link--in-list">Oktober | 3 News</a></li>
          <li><a href="" class="main__link main__link--in-list">November | 4 News</a></li>
          <li><a href="" class="main__link main__link--in-list">Dezember | 3 News</a></li>
        </ul>
      </div>

      <h2 class="main__heading">2008</h2><!--
      --><div class="main__textblock">
        <ul class="main__linklist main__linklist--reset">
          <li><a href="" class="main__link main__link--in-list">Januar | 6 News</a></li>
          <li><a href="" class="main__link main__link--in-list">Februar | 2 News</a></li>
          <li><a href="" class="main__link main__link--in-list">März | 3 News</a></li>
          <li><a href="" class="main__link main__link--in-list">April | 7 News</a></li>
          <li><a href="" class="main__link main__link--in-list">Mai | 2 News</a></li>
          <li><a href="" class="main__link main__link--in-list">Juni | 2 News</a></li>
          <li><a href="" class="main__link main__link--in-list">Juli | 6 News</a></li>
          <li><a href="" class="main__link main__link--in-list">August | 1 News</a></li>
          <li><a href="" class="main__link main__link--in-list">September | 1 News</a></li>
          <li><a href="" class="main__link main__link--in-list">Oktober | 3 News</a></li>
          <li><a href="" class="main__link main__link--in-list">November | 4 News</a></li>
          <li><a href="" class="main__link main__link--in-list">Dezember | 3 News</a></li>
        </ul>
      </div>

      <h2 class="main__heading">2007</h2><!--
      --><div class="main__textblock">
        <ul class="main__linklist main__linklist--reset">
          <li><a href="" class="main__link main__link--in-list">Januar | 6 News</a></li>
          <li><a href="" class="main__link main__link--in-list">Februar | 2 News</a></li>
          <li><a href="" class="main__link main__link--in-list">März | 3 News</a></li>
          <li><a href="" class="main__link main__link--in-list">April | 7 News</a></li>
          <li><a href="" class="main__link main__link--in-list">Mai | 2 News</a></li>
          <li><a href="" class="main__link main__link--in-list">Juni | 2 News</a></li>
          <li><a href="" class="main__link main__link--in-list">Juli | 6 News</a></li>
          <li><a href="" class="main__link main__link--in-list">August | 1 News</a></li>
          <li><a href="" class="main__link main__link--in-list">September | 1 News</a></li>
          <li><a href="" class="main__link main__link--in-list">Oktober | 3 News</a></li>
          <li><a href="" class="main__link main__link--in-list">November | 4 News</a></li>
          <li><a href="" class="main__link main__link--in-list">Dezember | 3 News</a></li>
        </ul>
      </div>

    </main>

    {% include search.html %}

    {% include more.html %}

    {% include last.html%}


  </div><!-- END: headroom__helper -->

</div><!-- END: footer-hide__helper -->

{% include footer-hide.html %}

{% include nav.html %}