---
title: Open Acces Tage 2014
layout: default
---

<div class="footer-hide__helper" id="top">

  {% include header.html %}

  <div class="headroom__helper">

    <main role="main" class="main">

    <h2 class="main__heading">20.10.2014</h2><!--
    --><div class="main__textblock">
      <p>Die Arbeitsgruppe Open Access in der Schwerpunktinitiative "Digitale Information" der Allianz der deutschen Wissenschaftsorganisationen hat im Rahmen der diesjährigen "Open Access Week" die Veröffentlichung der Handreichung "Open-Access-Publikationsfonds" bekannt gegeben. Zentrales Anliegen von Publikationsfonds ist es, den Transformationsprozess von subskriptionsbasiertem zu Publikationsgebühren-basiertem Open-Access-Publizieren effizient und nachhaltig zu gestalten. Open-Access-Publikationsfonds sind dabei weit mehr als ein verwaltungs-, organisations- und finanztechnisches Instrument zur Bewirtschaftung von Mitteln für die Bezahlung von Open-Access-Publikationsgebühren. In der Broschüre wird erläutert, welchen Zielen Open-Access-Publikationsfonds dienen und was bei ihrem Aufbau und Betrieb beachtet werden sollte.</p>
      <p>Die Online-Version der Broschüre ist unter der Creative-Commons-Lizenz "Namensnennung" (CC-BY) lizenziert und unter folgendem DOI abrufbar: <a href="#" class="main__link">http://doi.org/10.2312/allianzoa.006</a></p>
      <p>Eine englische Kurzfassung ist unter folgendem DOI abrufbar: <a href="#" class="main__link">http://doi.org/10.2312/allianzoa.007</a></p>
      <p>Weitere Informationen zur Schwerpunktinitiative "Digitale Information" finden sich unter: <a href="" class="main__link">http://www.allianz-initiative.de</a></p>
      </div>

    </main>

    {% include search.html %}

    {% include more.html %}

    {% include last.html%}


  </div><!-- END: headroom__helper -->

</div><!-- END: footer-hide__helper -->

{% include footer-hide.html %}

{% include nav.html %}