---
title: Open Acces Tage 2014
layout: default
---

<div class="footer-hide__helper" id="top">

  {% include header.html %}

  <div class="headroom__helper">

    <main role="main" class="main">

      <h2>2014</h2><!--
      --><div>
        <ul>
          <li><a href="#">Januar | 6 News</a></li>
          <li><a href="#">Februar | 2 News</a></li>
          <li><a href="#">März | 3 News</a></li>
          <li><a href="#">April | 7 News</a></li>
          <li><a href="#">Mai | 2 News</a></li>
          <li><a href="#">Juni | 2 News</a></li>
          <li><a href="#">Juli | 6 News</a></li>
          <li><a href="#">August | 1 News</a></li>
          <li><a href="#">September | 1 News</a></li>
          <li><a href="#">Oktober | 3 News</a></li>
          <li><a href="#">November | 4 News</a></li>
          <li><a href="#">Dezember | 3 News</a></li>
        </ul>
      </div>

      <h2>2013</h2><!--
      --><div>
        <ul>
          <li><a href="#">Januar | 6 News</a></li>
          <li><a href="#">Februar | 2 News</a></li>
          <li><a href="#">März | 3 News</a></li>
          <li><a href="#">April | 7 News</a></li>
          <li><a href="#">Mai | 2 News</a></li>
          <li><a href="#">Juni | 2 News</a></li>
          <li><a href="#">Juli | 6 News</a></li>
          <li><a href="#">August | 1 News</a></li>
          <li><a href="#">September | 1 News</a></li>
          <li><a href="#">Oktober | 3 News</a></li>
          <li><a href="#">November | 4 News</a></li>
          <li><a href="#">Dezember | 3 News</a></li>
        </ul>
      </div>

      <h2>2012</h2><!--
      --><div>
        <ul>
          <li><a href="#">Januar | 6 News</a></li>
          <li><a href="#">Februar | 2 News</a></li>
          <li><a href="#">März | 3 News</a></li>
          <li><a href="#">April | 7 News</a></li>
          <li><a href="#">Mai | 2 News</a></li>
          <li><a href="#">Juni | 2 News</a></li>
          <li><a href="#">Juli | 6 News</a>
            <ul>
              <li><a href="#">Open Access in Horizont 2020 | 20.07.2012</a></li>
              <li><a href="#">Österreichs Top-WissenschafterInnen unterstützen Open Access | 17.07.2012</a></li>
              <li><a href="#">Perspektive Bibliothek: Neue Open-Access-Zeitschrift im Bereich Bibliotheks- und Informationswesen | 17.07.2012</a></li>
              <li><a href="#">Hoher Impact Factor für Open Access-Journale der Max-Planck-Gesellschaft | 16.07.2012</a></li>
            </ul>
          </li>
          <li><a href="#">August | 1 News</a></li>
          <li><a href="#">September | 1 News</a></li>
          <li><a href="#">Oktober | 3 News</a></li>
          <li><a href="#">November | 4 News</a></li>
          <li><a href="#">Dezember | 3 News</a></li>
        </ul>
      </div>

      <h2>2011</h2><!--
      --><div>
        <ul>
          <li><a href="#">Januar | 6 News</a></li>
          <li><a href="#">Februar | 2 News</a></li>
          <li><a href="#">März | 3 News</a></li>
          <li><a href="#">April | 7 News</a></li>
          <li><a href="#">Mai | 2 News</a></li>
          <li><a href="#">Juni | 2 News</a></li>
          <li><a href="#">Juli | 6 News</a></li>
          <li><a href="#">August | 1 News</a></li>
          <li><a href="#">September | 1 News</a></li>
          <li><a href="#">Oktober | 3 News</a></li>
          <li><a href="#">November | 4 News</a></li>
          <li><a href="#">Dezember | 3 News</a></li>
        </ul>
      </div>

      <h2>2010</h2><!--
      --><div>
        <ul>
          <li><a href="#">Januar | 6 News</a></li>
          <li><a href="#">Februar | 2 News</a></li>
          <li><a href="#">März | 3 News</a></li>
          <li><a href="#">April | 7 News</a></li>
          <li><a href="#">Mai | 2 News</a></li>
          <li><a href="#">Juni | 2 News</a></li>
          <li><a href="#">Juli | 6 News</a></li>
          <li><a href="#">August | 1 News</a></li>
          <li><a href="#">September | 1 News</a></li>
          <li><a href="#">Oktober | 3 News</a></li>
          <li><a href="#">November | 4 News</a></li>
          <li><a href="#">Dezember | 3 News</a></li>
        </ul>
      </div>

      <h2>2009</h2><!--
      --><div>
        <ul>
          <li><a href="#">Januar | 6 News</a></li>
          <li><a href="#">Februar | 2 News</a></li>
          <li><a href="#">März | 3 News</a></li>
          <li><a href="#">April | 7 News</a></li>
          <li><a href="#">Mai | 2 News</a></li>
          <li><a href="#">Juni | 2 News</a></li>
          <li><a href="#">Juli | 6 News</a></li>
          <li><a href="#">August | 1 News</a></li>
          <li><a href="#">September | 1 News</a></li>
          <li><a href="#">Oktober | 3 News</a></li>
          <li><a href="#">November | 4 News</a></li>
          <li><a href="#">Dezember | 3 News</a></li>
        </ul>
      </div>

      <h2>2008</h2><!--
      --><div>
        <ul>
          <li><a href="#">Januar | 6 News</a></li>
          <li><a href="#">Februar | 2 News</a></li>
          <li><a href="#">März | 3 News</a></li>
          <li><a href="#">April | 7 News</a></li>
          <li><a href="#">Mai | 2 News</a></li>
          <li><a href="#">Juni | 2 News</a></li>
          <li><a href="#">Juli | 6 News</a></li>
          <li><a href="#">August | 1 News</a></li>
          <li><a href="#">September | 1 News</a></li>
          <li><a href="#">Oktober | 3 News</a></li>
          <li><a href="#">November | 4 News</a></li>
          <li><a href="#">Dezember | 3 News</a></li>
        </ul>
      </div>

      <h2>2007</h2><!--
      --><div>
        <ul>
          <li><a href="#">Januar | 6 News</a></li>
          <li><a href="#">Februar | 2 News</a></li>
          <li><a href="#">März | 3 News</a></li>
          <li><a href="#">April | 7 News</a></li>
          <li><a href="#">Mai | 2 News</a></li>
          <li><a href="#">Juni | 2 News</a></li>
          <li><a href="#">Juli | 6 News</a></li>
          <li><a href="#">August | 1 News</a></li>
          <li><a href="#">September | 1 News</a></li>
          <li><a href="#">Oktober | 3 News</a></li>
          <li><a href="#">November | 4 News</a></li>
          <li><a href="#">Dezember | 3 News</a></li>
        </ul>
      </div>

    </main>

    {% include search.html %}

    {% include more.html %}

    {% include last.html%}


  </div><!-- END: headroom__helper -->

</div><!-- END: footer-hide__helper -->

{% include footer-hide.html %}

{% include nav.html %}