---
title: Open Acces Tage 2014
layout: default
---

<div class="footer-hide__helper" id="top">

  {% include header.html %}

  <div class="headroom__helper">

    <main role="main" class="main">

      <h2>Letzte News</h2><!--
      --><div class="main__textblock">
        <p>Lese Sie hier die letzten 10 News</p>
        <ul>
          <li><a href="#">Der FWF erweitert und präzisiert Open Access Policy</a> - 19.12.2014<br>Der österreichische Fonds zur Förderung der wissenschaftlichen Forschung (FWF) führt ab Januar 2015 ...</li>
          <li><a href="#">Universität Leipzig verabschiedet Open Access Policy</a> - 15.12.2014<br>Der Senat der Universität Leipzig hat am 9. Dezember eine Open Access Policy verabschiedet. Prof. Dr...</li>
          <li><a href="#">Gates Foundation verabschiedet Open Access Policy</a> - 15.12.2014<br>Die Bill & Melinda Gates Foundation, einer der größten privaten Forschungsförderer der Welt, hat...</li>
          <li><a href="#">Springer-Verlag und niederländische Universitäten unterzeichnen Rahmenabkommen</a> - 25.11.2014<br>Der Springer-Verlag und der Verband der niederländischen Universitäten VSNU haben sich auf ein Rahme...</li>
          <li><a href="#">Allianz der deutschen Wissenschaftsorganisationen veröffentlicht "Appell zur Nutzung offener Lizenzen in der Wissenschaft"</a> -   25.11.2014<br>Der Appell, der u. a. Beispiele relevanter Lizenzen für unterschiedliche Publikationstypen enthält, ...</li>
          <li><a href="#">Schleswig-Holstein leitet Open Access-Strategie ein</a> - 19.11.2014<br>Das Ministerium für Soziales, Gesundheit, Wissenschaft und Gleichstellung des Landes Schleswig-Holst...</li>
          <li><a href="#">VSNU gibt Scheitern der Verhandlungen mit Elsevier bekannt</a> - 05.11.2014<br>Die Vereinigung der niederländischen Universitäten VSNU hat den Abbruch der Verhandlungen mit Elsevi...</li>
          <li><a href="#">Handreichung Open-Access-Publikationsfonds erschienen</a> - 20.10.2014</li>
          <li><a href="#">Informationsveranstaltung "Open-Access-Strategie für Berlin"</a> - 09.10.2014<br>Am Montag den 13. Oktober findet ab 15.00 Uhr an der Freien Universität Berlin (Henry-Ford-Bau) die ...</li>
          <li><a href="#">DFG verlängert das Förderprogramm "Open Access Publizieren"</a> - 06.10.2014<br>Das 2009 zur finanziellen Unterstützung von Open-Access-Publikationsfonds an wissenschaftlichen Inst...</li>
        </ul>
      </div>

      <h2>Weitere News</h2><!--
      --><div class="main__textblock">
        <p><a href="">Weitere News finden Sie im Archiv.</a></p>
      </div>

      <h2>News vorschlagen</h2><!--
      --><div class="main__textblock">
        <p>Sie können <a href="#">eine Meldung vorschlagen</a>, wenn sie innerhalb der Plattform IPOA veröffentlicht werden soll.</p>
      </div>

    </main>

    {% include search.html %}

    {% include more.html %}

    {% include last.html%}


  </div><!-- END: headroom__helper -->

</div><!-- END: footer-hide__helper -->

{% include footer-hide.html %}

{% include nav.html %}