---
title: Content-1
layout: default
---

<div class="footer-hide__helper" id="top">

  {% include header.html %}

  <div class="headroom__helper">

    <div class="search" id="search">
    <div class="search__content">
      <h2 class="search__heading">
      <svg class="fa-icon fa-icon-search fa-icon--default"><use xlink:href="#icon-search"></use></svg> Suche</h2><!--
      --><div class="search__enter"><!--
        --><form action="" class="search__form">
          <div class="search__field"><input type="text" class="search__input" value="Verlage"></div><!--
          --><div class="search__submit"><input type="button" value="Suchen" class="search__button"></div>
        </form><!--
        --><p class="paragraph">Sie haben nach dem Begriff "Verlage" gesucht und es wurden 3 Treffer gefunden.</p>
      </div>
    </div>
  </div>

    <main role="main" class="main search">

      <h2>Suchtreffer "Verlage"</h2><!--
      --><div>
        <p>Sie können die Treffer nach <a href="" class="sort--active">Relevanz</a>, <a href="">Titel</a> bzw. <a href="">Datum</a> sortieren.</p>
        <ul>
          <li><a href="#">Was kann Open Access alles bedeuten?</a><br>Eingeschränkte Rechte für den <span class="highlight">Testredakteur</span>? Paragraph Eigentlich sollte hier ein langer Text stehen. Bullet list test test Nummerierte Liste test test Heading 3 Heading 4 Was soll „Quotation“? Die Anführungszeichen mittels Insert special character Quotation With images Die Rückseite eines Bibliotheksausweises der SUB Göttingen Hier muss Table Caption hinein Essen Trinken Huhn Weisswein Blumenkohl</li>
          <li><a href="#">Tagungsort als Testseite für den Testredakteur Advanced Editing</a><br>Tagungsort und der Text dazu Diese Gruppe hat Bearbeitungsrechte für alle Funktionen und Typen, im <span class="highlight">Seitenbaum</span> aber nur für zentrale Systemordner (Meldungen).</li>
          <li><a href="#">Was bedeutet Open-Access NICHT?</a><br>19.1.2015 Einen Header ausdenken (Default oder Hidden) Descripton: "Dies ist eine Blume" (aus File Metadata) Test 19.1.2015 Der <span class="highlight">Redakteur</span> kann die Position des Element</li>
          <li><a href="#">Unterseite zur Testseite Tagungsort</a><br>Noch ein Text Mit Ausnahme der Zentralbibliothek und der Bereichsbibliothek Medizin sind alle unsere Standorte vom 24.12.2014 – 4.1.2015 geschlossen. <span class="highlight">Öffnungszeiten</span> der Zentralbibliothek (Lesesäle, LRC und Selbstabholbereich) und der Bereichsbibliothek Medizin: 21.12.2014 von 10:00 – 20:00 Uhr 27. – 30.12.2014 von 10:00 – 20:00 Uhr 2. – 4.1.2015 von 10:00 – 20:00 Uhr Buchbestellungen aus den Magazinen können vom 24.12.2014 – 4.1.2015 nicht bearbeitet werden.</li>
          <li><a href="#">Archivartikel</a><br>für Bildung und Forschung hat seit Kurzem eine Informationsseite zu Open Access auf seiner Website. Neben Allgemeinem zum Thema... <span class="highlight">OpenAIRE</span> Workshop [...] to Scientific Research Results" u.a.: "We recognise that effective global... Zenodo gestartet - 05.06.2013 OpenAIRE und CERN haben Anfang</li>
          <li><a href="#">News</a><br>Handreichung Open-Access-Publikationsfonds erschienen Die Arbeitsgruppe <span class="highlight">Open Access</span> in der Schwerpunktinitiative "Digitale Information" der Allianz der deutschen Wissenschaftsorganisationen hat im Rahmen... Weiterlesen 20.10.2014 Informationsveranstaltung "Open-Access-Strategie für Berlin</li>
          <li><a href="#">Der FWF erweitert und präzisiert Open Access Policy</a><br>Der österreichische Fonds zur Förderung der wissenschaftlichen Forschung (FWF) führt ab <span class="highlight">Januar</span> 2015 einige Präzisierungen und Erweiterungen der Open...</li>
          <li><a href="#">MWK Baden-Württemberg veröffentlicht Konzeptpapier zu E-Science</a><br>Das Ministerium für Wissenschaft, Forschung und Kunst des Landes <span class="highlight">Baden-Württemberg</span> hat ein Konzeptpapier zur "Weiterentwicklung der wissenschaftlichen...</li>
          <li><a href="#">Universität Konstanz bricht Lizenzverhandlungen mit Elsevier ab</a><br>Aufgrund der erheblichen Verteuerung der Leistungen des Wissenschaftsverlages Elsevier in den vergangenen Jahren hat die Universität Konstanz...</li>
        </ul>
      </div>

    </main>

    {% include more.html %}

    {% include last.html%}


  </div><!-- END: headroom__helper -->

</div><!-- END: footer-hide__helper -->

{% include footer-hide.html %}

{% include nav.html %}