---
title: Twitter
layout: default
---

<div class="footer-hide__helper" id="top">

  {% include header.html %}

  <div class="headroom__helper">

    <main role="main" class="main twitter">

    <h2>#openaccess at Twitter</h2><!--
    --><div class="main__textblock">

      <p><img src="https://pbs.twimg.com/profile_images/378800000219602527/38b18355657aa13d36a68e3bfeeaae65_bigger.jpeg" alt=""> <a href="#">PolicyNG.com</a> <span class="text--small">(07:28 - 14.02.2015)</span></p>
      <blockquote><a href="#">#Openaccess</a> data maps designed to communicate problems in Nigeria <a href="#">http://bit.ly/1uRGrfN</a></blockquote>

      <p><img src="https://pbs.twimg.com/profile_images/378800000047741005/61eea9dcdf23c19a40cc3527237a5e48_bigger.png" alt=""> <a href="#">DOAJ</a> <span class="text--small">(03:25 - 11.02.2015)</span></p>
      <blockquote>Swedish Research Council @Vetenskapsradet proposal for <a href="#">#openaccess</a> guidelines now in English, free download <a href="#">https://t.co/oAQTm5KHgH</a></blockquote>

      <p><img src="https://pbs.twimg.com/profile_images/695979704/sms-side-small_bigger.png" alt=""> <a href="#">Stuart Shieber</a> <span class="text--small">(08:49 - 04.02.2015)</span></p>
      <blockquote>Trend of the day: Publish in paywalled journals → give up on readership. - <a href="#">http://bit.ly/178A5xF</a> <a href="#">#openaccess</a></blockquote>

      <p><img src="https://pbs.twimg.com/profile_images/428845216989052930/fn1Ukixv_bigger.png" alt=""> <a href="#">Leibnitz-science 2.0</a> <span>(15:22 - 17.02.2015)</span></p>
      <blockquote>This looks quite interesting: "QUOAM" Quality Open Access Market for search & <a href="#">#publishing</a> Journals <a href="#">#openaccess</a> <a href="#">http://bit.ly/1JniHXv</a></blockquote>

      <p><img src="https://pbs.twimg.com/profile_images/3728506138/6e920a80ff60addbe52e65e300e94c45_bigger.png" alt=""> <a href="#">SPARC</a> <span>(17:04 - 13.02.2015)</span></p>
      <blockquote>The Asian Development Bank announces new strong <a href="#">#openaccess</a> policy - <a href="#">http://tinyurl.com/p6896vy</a></blockquote>

      <p><img src="https://pbs.twimg.com/profile_images/477395236532912128/F4BhJAlB_bigger.jpeg" alt=""> <a href="#">Taylor&Francis Open</a> <span>(12:35 - 10.02.2025)</span></p>
      <blockquote>Making <a href="#">#OpenAccess</a> content more discoverable: new site navigation on Taylor & Francis Online <a href="#">http://bit.ly/OAsearch</a> <a href="#">#OpenSelect</a></blockquote>

      <p><img src="https://pbs.twimg.com/profile_images/2926583567/01ba3a948479646280e055d7e6c85957_bigger.png" alt=""> <a href="#">City Research Online</a> <span>(12:30 - 10-02-2015)</span></p>
      <blockquote>City paper live: The development of differential mnemonic effects of false denials and forced conf... <a href="#">http://bit.ly/1KDH6FE</a>  <a href="#">#openaccess</a></blockquote>

      <p><img src="https://pbs.twimg.com/profile_images/521333499761262592/duJBqEHV_bigger.jpeg" alt=""> <a href="#">sonjy dolinsek</a> <span>(09:12 09.02.2015)</span></p>
      <blockquote>Disability and Sexual Inclusion (and <a href="#">#sexwork</a>) <a href="#">http://t.co/taVdtIb4VA</a> <a href="#">#openaccess</a></blockquote>

      <p><img src="https://pbs.twimg.com/profile_images/456406535673896960/ZQE7bxu3_bigger.jpeg" alt=""> <a href="#">hgmorrison</a> <span>(08:31 - 09.02.2015)</span></p>
      <blockquote>May 2014 survey of DOAJ journals using <a href="#">#openaccess</a> article processing charges now available in MDPI's Publications <a href="#">http://t.co/Y6aGEP37hp</a></blockquote>

    </div>


    </main>

    {% include search.html %}

    {% include more.html %}

    {% include last.html%}


  </div><!-- END: headroom__helper -->

</div><!-- END: footer-hide__helper -->

{% include footer-hide.html %}

{% include nav.html %}