<!DOCTYPE html>
<!--
NOTE : set lang via CMS related to the actual page language
-->
<html lang="de" class="no-js">
<head>
  <!--
  NOTE : have a look at HTML 5 Boilerplate for stuff that makes sense in the context of this project
  -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>{{page.title}} | {{site.name}}</title>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <!--
  NOTE : js detection. Reference: http://www.paulirish.com/2009/avoiding-the-fouc-v3/
  -->
  <script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>
  <script src="js/vendor/picturefill.js" async></script>
  <!--[if lt IE 9]>
    <script src="js/vendor/html5shiv.js"></script>
  <![endif]-->

  <link rel="shortcut icon" href="Images/favicon.ico" type="Images/x-icon" />
  <!-- Apple Touch Icons -->
  <link rel="apple-touch-icon" href="Images/apple-touch-icon.png" />
  <link rel="apple-touch-icon" sizes="57x57" href="Images/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="Images/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="Images/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="Images/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="60x60" href="Images/apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="Images/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="Images/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="Images/apple-touch-icon-152x152.png" />
  <!-- Windows 8 Tile Icons -->
  <meta name="msapplication-square70x70logo" content="Images/smalltile.png" />
  <meta name="msapplication-square150x150logo" content="Images/mediumtile.png" />
  <meta name="msapplication-wide310x150logo" content="Images/widetile.png" />
  <meta name="msapplication-square310x310logo" content="Images/largetile.png" />

</head>
<body class="body content">

{% include icons.html %}

<!-- start page -->
