<div class="footer-hide__content">
  <div class="footer-hide__column">
    <h3>Lorem ipsum dolor sit amut.</h3>
    {% include 1-dummy-p.html %}
  </div><!--
  --><div class="footer-hide__column">
    <h3>Lorem ipsum dolor sit amut.</h3>
    {% include 1-dummy-p.html %}
  </div><!--
  --><div class="footer-hide__column">
    <h3>Lorem ipsum dolor sit amut.</h3>
    {% include 1-dummy-p.html %}
  </div><!--
  --><div class="footer-hide__column">
    <h3>Lorem ipsum dolor sit amut.</h3>
    {% include 1-dummy-p.html %}
  </div>
  <div class="footer-hide__tracking">
    <p>Diese Webseite erfasst anonymisierte Daten zur Nutzung. Sie können dies für die Dauer ihres Besuchs unterbinden, indem sie folgenden Link klicken: <a href="#" class="footer-hide__link"><i class="fa fa-fw fa-toggle-on"></i> Nutzungserfassung ausschalten (Opt-Out)</a></p>
  </div>
</div>