<header class="head js-head headroom">
  <div class="head__menubutton">
    <a class="menu__button js-menu-toggle-button js-alt-menu-toggle-button" href="#menu">
    <svg class="fa-icon fa-icon-bars fa-icon--s"><use xlink:href="#icon-bars"></use></svg> Menu</a>
  </div><!--
  --><div class="head__links">
    <ul class="head__list">
      <li>
        <a href="#" title="" class="head__link">
          <svg class="fa-icon fa-icon-home fa-icon--s"><use xlink:href="#icon-home"></use></svg><span class="hidden-on-phone"> Startseite</span>
        </a>
      </li>
      <li>
        <a href="#" title="" class="head__link">
          <svg class="fa-icon fa-icon-info fa-icon--s"><use xlink:href="#icon-info"></use></svg><span class="hidden-on-phone"> Kontakt</span>
        </a>
      </li>
      <li>
        <a href="#" title="" class="head__link">
          <svg class="fa-icon fa-icon-sitemap fa-icon--s"><use xlink:href="#icon-sitemap"></use></svg><span class="hidden-on-phone"> Sitemap</span>
        </a>
      </li>
      <li>
        <a href="#search" title="" class="head__link head__language-indicator">
          <svg class="fa-icon fa-icon-search fa-icon--s"><use xlink:href="#icon-search"></use></svg><span class="hidden-on-phone"> Suche</span>
        </a>
      </li>
    </ul>
    <a href="#" class="head__link js-head-language-indicator" title="Click this to see a list of available languages">
      <svg class="fa-icon fa-icon-globe fa-icon--s"><use xlink:href="#icon-globe"></use></svg> DE-DE
    </a>
    <div class="head__language-links js-head-language-links">
      <svg class="fa-icon fa-icon-globe fa-icon--s fa-icon-on-bright"><use xlink:href="#icon-globe"></use></svg>
      <ul class="head__list">
        <li><a href="#" title="" class="head__link">AT-DE</a></li>
        <li><a href="#" title="" class="head__link">AT-EN</a></li>
        <li><a href="#" title="" class="head__link">CH-DE</a></li>
        <li><a href="#" title="" class="head__link">CH-EN</a></li>
        <li><a href="#" title="" class="head__link  head__link--active">DE-DE</a></li>
        <li><a href="#" title="" class="head__link">DE-EN</a></li>
      </ul>
    </div>
  </div><!--
  --><div class="head__logo">
    <img src="../img/oa.svg" class="image">
  </div><!--
  --><div class="head__claim">
    Der freie Zugang zu<br><span class="nobr">wissenschaftlicher Information</span>
  </div><!--
  --><div class="head__pagetitle">
    <h1 class="heading heading--alpha">Allgemeine Informationen</h1>
  </div>
</header>