<div class="more">
  <div class="more__column">
    <h3>Allgemeines</h3>
    <ul class="logocarousel js-logocarousel" id="c1">
      <li><a href="#"><img src="Images/logo_bit-online.svg"></a></li>
      <li><a href="#"><img src="Images/logo_coneda.svg"></a></li>
      <li><a href="#"><img src="Images/logo_dfg.svg"></a></li>
      <li><a href="#"><img src="Images/logo_springer.svg"></a></li>
      <li><a href="#"><img src="Images/logo_leibniz-gemeinschaft.svg"></a></li>
      <li><a href="#"><img src="Images/logo_hbz.svg"></a></li>
      <li><a href="#"><img src="Images/logo_fraunhofer.svg"></a></li>
      <li><a href="#"><img src="Images/logo_dini.svg"></a></li>
      <li><a href="#"><img src="Images/logo_wiley.svg"></a></li>
    </ul>
    <p><a href="#">Vollständige Liste der Unterstützer</a></p>
  </div><!--
  --><div class="more__column">
    <h3>Ein Bild</h3>
    <picture>
      <!--[if IE 9]><video style="display: none;"><![endif]-->
      <source srcset="Images/image-2--480.jpg, Images/image-2--480-2x.jpg 2x" media="(max-width: 480px)">
      <source srcset="Images/image-2--768.jpg, Images/image-2--768-2x.jpg 2x" media="(max-width: 768px)">
      <source srcset="Images/image-2--1024.jpg, Images/image-2--1024-2x.jpg 2x" media="(max-width: 1024px)">
      <source srcset="Images/image-2--1200.jpg, Images/image-2--1200-2x.jpg 2x" media="(max-width: 1200px)">
      <source srcset="Images/image-2--1400.jpg, Images/image-2--1400-2x.jpg 2x" media="(min-width: 1201px)">
      <!--[if IE 9]></video><![endif]-->
      <img src="Images/image-2--768.jpg" srcset="Images/image-2--768.jpg, Images/image-2--768-2x.jpg 2x">
      <div>
        This is a image caption.<br>Lorem ipsum dolor sit amut. Lorem ipsum dolor sit amut. Lorem ipsum dolor sit amut.
      </div>
    </picture>
  </div><!--
  --><div class="more__column">
    <h3>News</h3>
    <ul>
      <li><a href="#">MWK Baden-Württemberg veröffentlicht Konzeptpapier zu E-Science<br>03.09.2014</a></li>
      <li><a href="#">Berliner Abgeordnetenhaus beschließt Anschub einer Open-Access-Strategie<br>12.08.2014</a></li>
      <li><a href="#">Universität Konstanz bricht Lizenzverhandlungen mit Elsevier ab<br>03.04.2014</a></li>
      <li><a href="#">Open-Access-Tage 2014<br>25.02.2014</a></li>
      <li><a href="#">Petition "gegen die Diskriminierung der Hochschulwissenschaft im Urheberrecht"<br>017.01.2014</a></li>
    </ul>
  </div><!--
  --><div class="more__column">
    <h3>Connect!</h3>
    <p>Open Access in sozialen Netzwerken</p>
    <p><svg class="fa-icon fa-icon-twitter fa-icon--s"><use xlink:href="#icon-twitter"></use></svg><a href="#">Twitter</a>, <svg class="fa-icon fa-icon-facebook fa-icon--s"><use xlink:href="#icon-facebook"></use></svg><a href="#">Facebook</a></p>
  </div>
</div>