<div class="more">
  <div class="more__column">
    <h3 class="heading--gamma">Allgemeines</h3>
    <p class="paragraph">Lorem ipsum, <a href="#" title="" class="more__link more__link--in-textblock">consectetur adipiscing</a> elit. Aliquam luctus magna tellus. Pellentesque augue nisi, porttitor nec commodo vitae, pharetra vitae mi. Phasellus faucibus molestie dapibus. In consectetur quam nec mauris lacinia vehicula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam mi ligula, faucibus a ultrices vitae, pellentesque id nulla.</p>
  </div><!--
  --><div class="more__column">
    <h3 class="heading--gamma">Allgemeines</h3>
    <p class="paragraph">Lorem ipsum dolor sit amut.</p>
    <ul class="more__list">
      <li><a href="#" title="" class="more__link--in-list">Gründe und Vorbehalten</a></li>
      <li><a href="#" title="" class="more__link--in-list">Geschäftsmodelle</a></li>
      <li><a href="#" title="" class="more__link--in-list">Rechtsfragen</a></li>
      <li><a href="#" title="" class="more__link--in-list">FAQ</a></li>
    </ul>
    <p class="paragraph">Lorem ipsum dolor sit amut.</p>
  </div><!--
  --><div class="more__column">
    <h3 class="heading--gamma">News</h3>
    <ul class="more__list">
      <li><a href="#" title="" class="more__link--in-list">MWK Baden-Württemberg veröffentlicht Konzeptpapier zu E-Science<br>03.09.2014</a></li>
      <li><a href="#" title="" class="more__link--in-list">Berliner Abgeordnetenhaus beschließt Anschub einer Open-Access-Strategie<br>12.08.2014</a></li>
      <li><a href="#" title="" class="more__link--in-list">Universität Konstanz bricht Lizenzverhandlungen mit Elsevier ab<br>03.04.2014</a></li>
      <li><a href="#" title="" class="more__link--in-list">Open-Access-Tage 2014<br>25.02.2014</a></li>
      <li><a href="#" title="" class="more__link--in-list">Petition "gegen die Diskriminierung der Hochschulwissenschaft im Urheberrecht"<br>017.01.2014</a></li>
    </ul>
  </div><!--
  --><div class="more__column">
    <h3 class="heading--gamma">Connect!</h3>
    <p class="paragraph">Open Access in sozialen Netzwerken</p>
    <p class="paragraph"><svg class="fa-icon fa-icon-twitter fa-icon--s"><use xlink:href="#icon-twitter"></use></svg><a href="#" title="Informationsplattform Open Access auf Twitter" class="more__link more__link--in-textblock">Twitter</a>, <svg class="fa-icon fa-icon-facebook fa-icon--s"><use xlink:href="#icon-facebook"></use></svg><a href="#" title="Informationsplattform Open Access auf Facebook" class="more__link more__link--in-textblock">Facebook</a></p>
  </div>
</div>