<nav class="alt-menu js-alt-menu" id="menu">

  <div class="alt-menu__content">

    <div class="menu__column ic-tablet-one-half ic-notebook-and-up-one-quarter">
      <ul class="menu__list">
        <li><a href="#" title="" class="menu__link menu__link--has-children">Allgemeines</a>
          <ul class="menu__list--indented">
            <li><a href="#" title="" class="menu__link menu__link--has-children">Was bedeutet Open Access?</a>
              <ul class="menu__list--indented">
                <li><a href="#" title="" class="menu__link">Gründe für OA</a></li>
                <li><a href="#" title="" class="menu__link">Ipsum Lorem</a></li>
                <li><a href="#" title="" class="menu__link menu__link--has-children">Vorbehalte gegen OA</a>
                  <ul class="menu__list--indented">
                    <li><a href="#" title="" class="menu__link">Rational</a></li>
                    <li><a href="#" title="" class="menu__link menu__link--active">Irrational</a></li>
                  </ul>
                </li>
                <li><a href="#" title="" class="menu__link">Lorem ipsum</a></li>
              </ul>
            </li>
            <li><a href="#" title="" class="menu__link">Open-Access-Strategien</a></li>
            <li><a href="#" title="" class="menu__link">Gründe für Open Access</a></li>
            <li><a href="#" title="" class="menu__link">Open-Access-Zeitschriften</a></li>
            <li><a href="#" title="" class="menu__link">Repositorien</a></li>
            <li><a href="#" title="" class="menu__link">Open Access bei Büchern</a></li>
            <li><a href="#" title="" class="menu__link">Open Access bei Forschungsdaten</a></li>
            <li><a href="#" title="" class="menu__link">Geschäftsmodelle</a></li>
            <li><a href="#" title="" class="menu__link">Rechtsfragen</a></li>
            <li><a href="#" title="" class="menu__link">Geschichte des Open Access</a></li>
            <li><a href="#" title="" class="menu__link">Inititiativen und Positionspapiere</a></li>
            <li><a href="#" title="" class="menu__link">FAQ</a></li>
          </ul>
          <ul>
        </li>
      </ul>
    </div><!--
    --><div class="menu__column ic-tablet-one-half ic-notebook-and-up-one-quarter">
      <ul class="menu__list">
        <li><a href="#" title="" class="menu__link menu__link--has-children">OA in verschiedenen Fächern</a>
          <ul class="menu__list menu__list--indented">
            <li><a href="#" title="" class="menu__link">Biologie</a></li>
            <li><a href="#" title="" class="menu__link menu__link--has-children">Chemie</a>
            <ul class="menu__list menu__list--indented">
              <li><a href="#" title="" class="menu__link">Allgemein</a></li>
              <li><a href="#" title="" class="menu__link">In Deutschland</a></li>
            </ul>
            </li>
            <li><a href="#" title="" class="menu__link">Erziehungs<wbr>wissenschaften</a></li>
            <li><a href="#" title="" class="menu__link">Geowissenschaften</a></li>
            <li><a href="#" title="" class="menu__link">Geschichts<wbr>wissenschaften</a></li>
            <li><a href="#" title="" class="menu__link">Geschlechter<wbr>forschung</a></li>
            <li><a href="#" title="" class="menu__link">Informatik</a></li>
            <li><a href="#" title="" class="menu__link">Ingenieur<wbr>wissenschaften</a></li>
            <li><a href="#" title="" class="menu__link">Mathematik</a></li>
            <li><a href="#" title="" class="menu__link">Medizin</a></li>
            <li><a href="#" title="" class="menu__link">Philosophie</a></li>
            <li><a href="#" title="" class="menu__link">Rechtswissenschft</a></li>
            <li><a href="#" title="" class="menu__link">Sozialwissenschaften</a></li>
            <li><a href="#" title="" class="menu__link">Wirtschafts<wbr>wissenschaften</a></li>
          </ul>
        </li>
      </ul>
    </div><!--
    --><div class="menu__column ic-tablet-one-half ic-notebook-and-up-one-quarter">
      <ul class="menu__list">
        <li><a href="#" title="" class="menu__link">Wissenswertes für</a></li>
      </ul>
    </div><!--
    --><div class="menu__column ic-tablet-one-half ic-notebook-and-up-one-quarter">
      <ul class="menu__list">
        <li><a href="#" title="" class="menu__link menu__link--has-children">Community</a>
          <ul class="menu__list menu__list--indented">
            <li><a href="#" title="" class="menu__link">News</a></li>
            <li><a href="#" title="" class="menu__link">Open-Access-Tage</a></li>
            <li><a href="#" title="" class="menu__link">Open Access Week</a></li>
            <li><a href="#" title="" class="menu__link">Mailingliste</a></li>
            <li><a href="#" title="" class="menu__link">Open-Access-Projekte</a></li>
            <li><a href="#" title="" class="menu__link menu__link--has-children">Links</a>
              <ul class="menu__list--indented">
                <li><a href="#" title="" class="menu__link">Blogs/Foren/Newsletter</a></li>
                <li><a href="#" title="" class="menu__link menu__link--active">Mailinglisten</a></li>
              </ul>
            </li>
            <li><a href="#" title="" class="menu__link">Kalender</a></li>
            <li><a href="#" title="" class="menu__link">Internes Wiki</a></li>
          </ul>
        </li>
      </ul>
    </div>

  </div>

</nav>