<div class="search" id="search">
  <div class="search__content">
    <h2 class="search__heading">
    <svg class="fa-icon fa-icon-search fa-icon--default"><use xlink:href="#icon-search"></use></svg> Suche</h2><!--
    --><div class="search__enter"><!--
      --><form action="" class="search__form">
        <div class="search__field"><input type="text" class="search__input"></div><!--
        --><div class="search__submit"><input type="button" value="Suchen" class="search__button"></div>
      </form><!--
      --><p class="paragraph">Benutzen Sie die seitenweite Suche um weitere für Sie interessante Inhalte der Informationsplattform Open Access zu entdecken.</p>
    </div>
  </div>
</div>
