<!DOCTYPE html>
<!--
NOTE : set lang via CMS related to the actual page language
-->
<html lang="de" class="no-js">
<head>
  <!--
  NOTE : have a look at HTML 5 Boilerplate for stuff that makes sense in the context of this project
  -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>{{page.title}} | {{site.name}}</title>
  <link rel="stylesheet" type="text/css" href="css/start.css" />
  <!--
  NOTE : js detection. Reference: http://www.paulirish.com/2009/avoiding-the-fouc-v3/
  -->
  <script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>
  <script src="js/vendor/picturefill.js" async></script>
  <!--[if lt IE 9]>
    <script src="js/vendor/html5shiv.js"></script>
  <![endif]-->
</head>
<body class="body {{page.title}}">

<!-- start page -->

{{content}}

<!-- end page -->

<!-- JS includes -->

</body>
</html>